@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700&display=swap');

body {
	overflow-x: hidden; /*--right gutter fix--*/

/*-----------------------------Style Changes I (or from the video) made */
    font-family: "Quicksand", sans-serif;
    color: #505962;
}

.navbar {
    background-color: #505962;
    /*box-shadow: 0 0 2px 10px #505962;*/
}

.navbar-brand img {
    height: 2.3rem;
}

.logo-text {
    display: inline;
    padding-left: 0.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.nav-item {
    font-size: 1.1rem;
    margin-right: 1rem;
    padding: 0;
    
}

.nav-item:hover {
    border-bottom: 1px solid #E7C61C;
}

.nav-item .active {
    border-bottom: 1px solid #E7C61C;
}

.home-inner {
    background-image: url("../images/landing-hammarby.jpg");
    filter: brightness(60%);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute; /*makes the text to stick on the landing page (incl. with "top" property) and not fixed on the "about" section */
    top: 20%;
    z-index: 1; /*just to make sure it's visible on all browsers*/
}

.caption h3 {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    padding-bottom: .3rem;
}

.caption h4 {
    color: white;
    font-size: 2rem;
    padding-bottom: .5rem;
    
}

.caption .btn {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    top: 80%;
    padding: .5rem 1.1rem;
    font-size: .9rem;
}

h3.heading {
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.padding {
    padding: 2rem 0;
}

img.portfolio {
    max-width: 100%;
}

.card {
    margin: 2rem;
}

.card1 img {
    background-position: top;
    
}

.footer .row {
    background-color: #505962;
    padding: 1rem 2rem 3rem;
    color: white;
}

.footer img {
    height: 4rem;
    margin: 1.5rem 0;
}
/*---------------------------------------------------------------*/




/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}